<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.APP_TITLE = '<%= htmlWebpackPlugin.options.title %>';
        window.API_URL = '<%= htmlWebpackPlugin.options.API_URL %>';
        window.REDIRECT_URL = '<%= htmlWebpackPlugin.options.REDIRECT_URL %>';
    </script>
</head>

<body>
    <div id="root"></div>
</body>

</html>