.report {
    grid-area: report;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.report .card>a {
    min-width: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}