.report {
    grid-area: report;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow: hidden;
}

.report>.error {
    width: 100%;
}

.report>.progress {
    width: 100%;
}

@media only screen and (min-width: 1140px) {
    .report {
        flex-direction: row;
    }
    .report>.error {
        width: 50%;
    }
    .report>.progress {
        width: 50%;
    }
}

.report {
    grid-area: report;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.report .card>a {
    min-width: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}