.layout {
    display: grid;
    grid-template-areas:
        "title stash"
        "control stash"
        "error stash"
        "progress stash";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 100px auto auto;
    grid-gap: 30px;
    padding: 13px;
}