$font-stack: Helvetica, sans-serif;
$font-size: 20px;
$background-color: hsl(0, 0%, 20%);
$input-background-color: hsl(0, 0%, 30%);
$card-background-color: hsl(0, 0%, 40%);
$primary-color: hsl(0, 0%, 80%);;
$border-color: hsl(0, 0%, 50%);
$border-width: 5px;
$input-padding: 11px;
$input-margin: 7px;
$border-radius: 11px;